.root{
    -fx-background-color: gray;
}

#quizDetails{
    -fx-alignment: center;
    -fx-spacing: 100px;
}

.text-field{
    -fx-max-width: 100px;
    -fx-font-size: 20px;
}

#allQuestions{
    -fx-alignment: center;
    -fx-spacing: 20px;
}

#selectionLabels{
    -fx-alignment: center;
    -fx-font-size: 40px;
}

#startButtons{
    -fx-spacing: 15px;
    -fx-alignment: center;
}

#questionsInput{
    -fx-alignment: center;
    -fx-font-size: 30px;
    /*-fx-spacing: 30px;*/
}

#leftPanel{
    -fx-pref-width: 400px;
    -fx-alignment: center;
    /*-fx-spacing: 20px;*/
}

#categories{
    -fx-alignment: center;
}

#inputField{
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 15px;
}

#beginQuizButton{
    -fx-font-size: 20px;
}

#verifyInputButton{
    -fx-font-size: 17px;
}

#homeButton{
    -fx-font-size: 20px;
}

#errorLabel{
    -fx-font-size: 20px;
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}